<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<div>
Well kids, Owen and Pam and Greg are coming to this here shindig! boy howdy!

- make a migration for Attendees table 
- make a model 
- make an association 
- make a controller 
- styling for attendee show page related stuff 

</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
