<p id="kiwis"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<div>
Well kids, Owen and Pam and Greg are coming to this here shindig! boy howdy!
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
